@import "smart-grid";

.select-buttons {
    > span {
        font-size: 14px;
        color: var(--color-text-bold);
        display: block;
        margin-bottom: 4px;
    }

    input[type="checkbox"], input[type="radio"] {
        display: none;
    }

    input[type="checkbox"] + label {
        display: inline-flex;
        height: 32px;
        padding: 0 16px;
        margin-right: 2px;
        border: 1px solid var(--color-text);
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        margin-bottom: 6px;

        span {
            color: inherit;
        }
    }

    input[type="checkbox"]:checked + label {
        border: 1px solid var(--color-accent);
        color: var(--color-accent);
    }

    button {
        background: url("../img/icons/chevron-down-small.svg") no-repeat right center;
        font-size: 14px;
        padding-right: 24px;
        margin-top: 4px;
    }


    input[type="radio"] + label {
        display: inline-flex;

        height: 32px;
        margin-right: 2px;
        border-radius: 8px;
        align-items: center;
        margin-bottom: 6px;

        &:before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            border: 1px solid var(--color-border-dark);
            border-radius: 50%;
            margin-right: 8px;
        }
        &.sw {
            margin-right: 12px;
            &:last-of-type {
                margin-right: 0;
            }
            &:before {
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                background: url("../img/icons/radio.svg") no-repeat center;
                border-radius: 50%;
                margin-right: 8px;
                overflow: hidden;
                box-sizing: border-box;
            }
        }
        span {
            color: inherit;
            font-size: 16px;
        }
    }

    input[type="radio"]:checked + label {
        position: relative;
        &:before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            border: 1px solid var(--color-accent);
            background: var(--color-accent);
            border-radius: 50%;
            margin-right: 8px;
        }

        &.sw {

            &:before {
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                background: url("../img/icons/radio-checked.svg") no-repeat center;
                border: none;
                margin-right: 8px;
                overflow: hidden;
                box-sizing: border-box;
            }
        }
    }

    &-pull.sw {
        display: flex;
    }
}
